<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Tamos", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Inicio",  root_path %></li>
					<li><%= link_to "Acerca", acerca_path %></li>
					<li><%= link_to "Ayuda", ayuda_path %></li>
					<li><%= link_to "Contacto", contacto_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>